/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-fb {
  background-image: url(/pictures/sprites/icons-sprite.png);
  background-position: 0px -97px;
  width: 80px;
  height: 84px;
}
.icon-vk {
  background-image: url(/pictures/sprites/icons-sprite.png);
  background-position: 0px 0px;
  width: 96px;
  height: 96px;
}
.icon-youtube {
  background-image: url(/pictures/sprites/icons-sprite.png);
  background-position: -97px 0px;
  width: 84px;
  height: 84px;
}
