@font-face {
	font-family: "comp-iconfont";
	src: url('./../fonts/comp/comp-iconfont.eot');
	src: url('./../fonts/comp/comp-iconfont.eot?#iefix') format('eot'),
		url('./../fonts/comp/comp-iconfont.woff2') format('woff2'),
		url('./../fonts/comp/comp-iconfont.woff') format('woff'),
		url('./../fonts/comp/comp-iconfont.ttf') format('truetype'),
		url('./../fonts/comp/comp-iconfont.svg#comp-iconfont') format('svg');
}

.icon:before {
	font-family: "comp-iconfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-Vector_bg:before {
	content: "\E001";
}

.icon-analysis-2:before {
	content: "\E002";
}

.icon-analysis-yellow:before {
	content: "\E003";
}

.icon-analysis:before {
	content: "\E004";
}

.icon-arrow:before {
	content: "\E005";
}

.icon-bg:before {
	content: "\E006";
}

.icon-big-arrow:before {
	content: "\E007";
}

.icon-completo:before {
	content: "\E008";
}

.icon-computer:before {
	content: "\E009";
}

.icon-cpu:before {
	content: "\E00A";
}

.icon-cursor-2:before {
	content: "\E00B";
}

.icon-cursor:before {
	content: "\E00C";
}

.icon-customer-service:before {
	content: "\E00D";
}

.icon-facebook-logo:before {
	content: "\E00E";
}

.icon-feature:before {
	content: "\E00F";
}

.icon-fingerprint:before {
	content: "\E010";
}

.icon-franchise:before {
	content: "\E011";
}

.icon-graphic:before {
	content: "\E012";
}

.icon-growth-yellow:before {
	content: "\E013";
}

.icon-growth:before {
	content: "\E014";
}

.icon-hand:before {
	content: "\E015";
}

.icon-i:before {
	content: "\E016";
}

.icon-instruction-2:before {
	content: "\E017";
}

.icon-instruction:before {
	content: "\E018";
}

.icon-internet-2:before {
	content: "\E019";
}

.icon-internet:before {
	content: "\E01A";
}

.icon-like:before {
	content: "\E01B";
}

.icon-m:before {
	content: "\E01C";
}

.icon-market-3:before {
	content: "\E01D";
}

.icon-market:before {
	content: "\E01E";
}

.icon-outsourcing:before {
	content: "\E01F";
}

.icon-planning-2:before {
	content: "\E020";
}

.icon-planning:before {
	content: "\E021";
}

.icon-question:before {
	content: "\E022";
}

.icon-robot-arm:before {
	content: "\E023";
}

.icon-route:before {
	content: "\E024";
}

.icon-shop:before {
	content: "\E025";
}

.icon-vector-bold:before {
	content: "\E026";
}

.icon-vector-button:before {
	content: "\E027";
}

.icon-vector-yellow:before {
	content: "\E028";
}

.icon-vision:before {
	content: "\E029";
}

.icon-vk-social-network-logo:before {
	content: "\E02A";
}

.icon-warning:before {
	content: "\E02B";
}

.icon-website-2:before {
	content: "\E02C";
}

.icon-website:before {
	content: "\E02D";
}

.icon-yellow_quotes:before {
	content: "\E02E";
}

.icon-youtube-logo:before {
	content: "\E02F";
}
