@font-face {
	font-family: 'Montserrat';
	src: url('./../fonts/Montserrat-Bold.eot');
	src: url('./../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
	url('./../fonts/Montserrat-Bold.woff') format('woff'),
	url('./../fonts/Montserrat-Bold.ttf') format('truetype'),
	url('./../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
	font-style: 600;
}