@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans'), local('PTSans-Regular'), url('../../fonts/ptsans.woff2') format('woff2'), url('../../fonts/ptsans.woff') format('woff'), url('../../fontsptsans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans Bold'), local('PTSans-Bold'), url('../../fonts/ptsansbold.woff2') format('woff2'), url('../../fonts/ptsansbold.woff') format('woff'), url('../../fonts/ptsansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}