doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		meta(name="format-detection" content="telephone=no")
		title Комплето
		link(rel="shortcut icon" href="../pictures/upload/favicon.png" type="image/png")
		link(rel="stylesheet", href="styles/style.css")
	body